<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ site.get_title() }} - DataTig</title>
        <link rel="stylesheet" type="text/css" href="{{ url }}/main.css">
        <link rel="stylesheet" type="text/css" href="{{ url }}/pygments.css">
        <meta name="robots" content="noindex, nofollow">
        <link href="{{ url }}/fontawesome-free-6.7.2-web/css/fontawesome.min.css" rel="stylesheet" />
        <link href="{{ url }}/fontawesome-free-6.7.2-web/css/brands.min.css" rel="stylesheet" />
        <link href="{{ url }}/fontawesome-free-6.7.2-web/css/solid.min.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="content">
                <h1>
                    <div class="h1-section">
                        <a href="{{ url }}/">
                            <img src="{{ url }}/logo.png" alt="DataTig Logo"> {{ site.get_title() }}
                        </a>
                    </div>
                </h1>
            </div>
        </header>
        <nav id="menu">
            <div class="content">
                <a href="{{ url }}/">Home</a>
            </div>
        </nav>
        <nav id="breadcrumbs">
            <div class="content">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </nav>

        <div id="body">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
 
        <footer>
            <div class="content">
                Powered by <a href="https://www.datatig.com/">DataTig</a>.
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
