{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block breadcrumbs %}
    <span class="breadcrumb">Home</span>
{% endblock %}

{% block body %}



<p>{{ site.get_description() }}</p>

<h2>Data</h2>

<table class="data">
    <tr>
        <th>id</th>
        <th>&nbsp;</th>
    </tr>
    {% for type_id, type in site.get_types().items() %}
        <tr>
            <td>{{ type_id }}</td>
            <td><a href="{{ url }}/type/{{ type_id }}/" class="button">View</a></td>
        </tr>
    {% endfor %}
</table>

{% if site.get_calendars() %}
    <h2>Calendars</h2>

    <table class="data">
        <tr>
            <th>id</th>
            <th>&nbsp;</th>
        </tr>
        {% for calendar_id, calendar in site.get_calendars().items() %}
            <tr>
                <td>{{ calendar_id }}</td>
                <td><a href="{{ url }}/calendar/{{ calendar_id }}/" class="button">View Calendar</a></td>
            </tr>
        {% endfor %}
    </table>

{% endif %}

<p class="text-right">
    <a href="{{ url }}/errors.html" class="button">Errors ({{ datastore.get_count_site_errors() + datastore.get_count_record_errors() }})</a>
    <a href="{{ url }}/database.sqlite" class="button">Download SQLite Database ({{ datastore_file_size_bytes }} bytes)</a>
    <a href="{{ url }}/frictionless.zip" class="button">Download Frictionless Data Package (includes CSV's) ({{ frictionless_file_size_bytes }} bytes)</a>
</p>

<p class="text-right">
    <a href="{{ url }}/api.json" class="button">API</a>
</p>


{% endblock %}

