{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<table class="table">
    <tr>
        <th>Ref</th>
        <th>Commit</th>
        <th>&nbsp;</th>
    </tr>
    {% for git_commit_with_refs in git_commits_with_refs %}
        <tr>
            <td>
                {{ git_commit_with_refs.get_refs_str() }}
                {% if git_commit_with_refs.has_ref(default_ref_str) %} (Default) {% endif %}
            </td>
            <td>{{ git_commit_with_refs.get_commit_hash() }}</td>
            <td>
                <a href="{{ url }}/ref/{{ git_commit_with_refs.get_ref() }}/"><button type="button" class="btn btn-link">View</button></a>
            </td>
        </tr>
    {% endfor %}
</table>

<p class="text-right">
    <a href="{{ url }}/database.sqlite"><button type="button" class="btn btn-primary">Download SQLite Database ({{ datastore_file_size_bytes }} bytes)</button></a>
</p>

{% endblock %}
