{% extends "base.html" %}

{% block title %}{{ item_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url }}/type/{{ type.get_id() }}/">{{ type.get_id() }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item.get_id() }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>{{ item.get_id() }} - {{ type.get_id() }}</h2>

<table class="table">
    {% for field_id, field in type.get_fields().items() %}
        <tr>
            <th>
                {{ field.get_title() }}
            </th>
            <td>
                {% if field.get_type() == 'url' %}
                    <a href="{{ item.get_field_value(field_id).get_value() }}">{{ item.get_field_value(field_id).get_value() }}</a>
                {% elif field.get_type() == 'list-strings' %}
                    <ul>
                        {% for value in item.get_field_value(field_id).get_value() %}
                            <li>{{ value }}</li>
                        {% endfor %}
                    </ul>
                {% elif field.get_type() == 'boolean' %}
                    {% if item.get_field_value(field_id).is_value_true() %}
                        True
                    {% elif item.get_field_value(field_id).is_value_false() %}
                        False
                    {% endif %}
                {% else %}
                    {{ item.get_field_value(field_id).get_value() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>

<h3>Raw Data</h3>

<div>
    {{ record_data_html|safe }}
</div>

<p  class="text-right">
    <a href="data.json"><button type="button" class="btn btn-primary">Download Raw JSON data</button></a>
</p>


{% endblock %}
