{% extends "base.html" %}

{% block title %}Ref {{ git_commit.get_refs_str() }}{% endblock %}


{% block breadcrumbs %}
    <span class="breadcrumb"><a href="{{ url }}/">Home</a></span>
    <span class="seperator">></span>
    <span class="breadcrumb">Ref: {{ git_commit.get_refs_str() }}</span>
{% endblock %}

{% block body %}

<h2>Ref {{ git_commit.get_refs_str() }}</h2>

<p class="text-right">
    <a href="{{ url }}/ref/{{ git_commit.get_ref() }}/errors.html" class="button">Errors</a>
</p>

<h3>Comparison to default ref, {{  default_ref_str }}</h3>

<h4>Data changes</h4>

<table class="data">
    <tr>
        <th>Type</th>
        <th>Record</th>
        <th>Action</th>
        <th>&nbsp;</th>
    </tr>
    {% for data_difference_between_refs in data_differences_between_refs %}
        <tr>
            <td>
                {{ data_difference_between_refs['type_id'] }}
            </td>
            <td>
                {{ data_difference_between_refs['record_id'] }}
            </td>
            <td>
                {{ data_difference_between_refs['action'] }}
            </td>
            <td>
                <a href="{{ url }}/type/{{ data_difference_between_refs['type_id'] }}/record/{{ data_difference_between_refs['record_id'] }}/ class="button">View</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Nothing</td>
        </tr>
    {% endfor %}
</table>


<h4>General Errors Added</h4>

<table class="data">
    <tr>
        <th>Filename</th>
        <th>Message</th>
    </tr>
    {% for error in errors_added_between_refs %}
        <tr>
            <td>{{ error.get_filename() }}</td>
            <td>{{ error.get_message() }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">Nothing</td>
        </tr>
    {% endfor %}
</table>




{% endblock %}
