{% extends "base.html" %}

{% block title %}Ref {{ git_commit.get_refs_str() }}{% endblock %}


{% block breadcrumbs %}
  <span class="breadcrumb"><a href="{{ url }}/">Home</a></span>
  <span class="seperator">></span>
  <span class="breadcrumb">Ref: {{ git_commit.get_refs_str() }}</span>
{% endblock %}

{% block body %}

<h2>Ref {{ git_commit.get_refs_str() }}</h2>

<p>This is the default branch.</p>

<p class="text-right">
    <a href="{{ url }}/ref/{{ git_commit.get_ref() }}/errors.html" class="button">Errors</a>
</p>

{% endblock %}
