{% extends "base.html" %}

{% block title %}{{ item_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/type/{{ type.id }}/">{{ type.id }}</a></li>
        <li class="breadcrumb-item"><a href="/type/{{ type.id }}/item/{{ item_id }}/">{{ item_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit in Spreadsheet</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>Edit {{ item_id }} - {{ type.id }}</h2>

<p>Download this spreadsheet and edit it.</p>

<p class="text-right">
    <a href="../data-form.xlsx"><button type="button" class="btn btn-primary">Get Spreadsheet</button></a>
</p>

<p>Then using Python, run these commands to get the JSON data:</p>

<p>TODO</p>

{% if site_github_url %}
    <p>Go to the Github page to edit <em>{{  item_data.git_filename }}</em> and copy and paste in the JSON.</p>
    <p class="text-right">
        <a href="https://github.com/{{ site_github_url }}/edit/{{ site_github_primary_branch }}/{{  item_data.git_filename }}" target="_new"><button type="button" class="btn btn-primary">Edit on GitHub</button></a>
    </p>
    <p>Or open a issue?</p>
    <p>Button TODO</p>
{% else %}
    <p>In the git repository, edit <em>{{  item_data.git_filename }}</em> and copy and paste in the JSON.</p>
{% endif %}

{% endblock %}