{% extends "base.html" %}

{% block title %}{{ item_id }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/type/{{ type.id }}/">{{ type.id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item_id }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>{{ item_id }} - {{ type.id }}</h2>

<table class="table">
    {% for field_id, field in type.fields.items() %}
        <tr>
            <th>
                {{ field.title() }}
            </th>
            <td>
                {% if field.type() == 'url' %}
                    <a href="{{ datastore.get_field(type.id, item_id, field_id) }}">{{ datastore.get_field(type.id, item_id, field_id) }}</a>
                {% else %}
                    {{ datastore.get_field(type.id, item_id, field_id) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>

{% if item_data.json_schema_validation_errors or item_data.json_schema_validation_pass %}
    <h3>Validation</h3>

    {% if item_data.json_schema_validation_errors %}
        <p><i class="fas fa-times-circle"></i> There were validation errors:</p>
        <p class="text-right">
            <a href="#" onclick="$('#validation_errors').toggle(); return false;"><button type="button" class="btn btn-secondary">Show/Hide</button></a>
        </p>
        <table class="table" id="validation_errors">
            <tr>
                <th>Message</th>
                <th>Data Path</th>
                <th>Schema Path</th>
            </tr>
            {% for err in item_data.json_schema_validation_errors %}
                <tr>
                    <td>
                        {{ err.message }}
                    </td>
                    <td>
                        {{ err.path_str }}
                    </td>
                    <td>
                        {{ err.schema_path_str }}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if item_data.json_schema_validation_pass %}
        <p><i class="fas fa-check-circle"></i> Validation passed</p>
    {% endif %}

{% endif %}

{% if type.json_schema or type.guide_form_xlsx or site_github_url %}
    <h3>Edit</h3>
    <p class="text-right">
        {% if type.json_schema %}
            <a href="editweb/"><button type="button" class="btn btn-primary">Edit in Browser</button></a>
        {% endif %}
        {% if type.guide_form_xlsx %}
            <a href="editspreadsheet/"><button type="button" class="btn btn-primary">Edit in a spreadsheet</button></a>
        {% endif %}
        {% if site_github_url %}
            <a href="https://github.com/{{ site_github_url }}/edit/{{ site_github_primary_branch }}/{{  item_data.git_filename }}"><button type="button" class="btn btn-primary">Edit Raw data directly on GitHub</button></a>
        {% endif %}
    </p>
{% endif %}

<h3>Raw Data</h3>

<div>
    {{ item_data.data }}
</div>

<p  class="text-right">
    {% if site_github_url %}
        <a href="https://github.com/{{ site_github_url }}/blob/{{ site_github_primary_branch }}/{{  item_data.git_filename }}"><button type="button" class="btn btn-primary">View on GitHub</button></a>
    {% endif %}
    <a href="data.json"><button type="button" class="btn btn-primary">Download Raw JSON data</button></a>
</p>
{% endblock %}
