{% extends "base.html" %}

{% block title %}{{ item_id }}{% endblock %}

{% block body %}

<h2>{{ item_id }} - {{ type.id }}</h2>

<table class="table">
    {% for field_id, field in type.fields.items() %}
        <tr>
            <th>
                {{ field.title() }}
            </th>
            <td>
                {% if field.type() == 'url' %}
                    <a href="{{ datastore.get_field(type.id, item_id, field_id) }}">{{ datastore.get_field(type.id, item_id, field_id) }}</a>
                {% else %}
                    {{ datastore.get_field(type.id, item_id, field_id) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>

{% if site_github_url %}
    <a href="https://github.com/{{ site_github_url }}/edit/{{ site_github_primary_branch }}/{{  item_data.git_filename }}"><button type="button" class="btn btn-primary">Edit Raw data directly on GitHub</button></a>
{% endif %}

<h3>Raw Data</h3>

<div>
    {{ item_data.data }}
</div>

{% if site_github_url %}
    <a href="https://github.com/{{ site_github_url }}/blob/{{ site_github_primary_branch }}/{{  item_data.git_filename }}"><button type="button" class="btn btn-primary">View on GitHub</button></a>
{% endif %}

<a href="data.json"><button type="button" class="btn btn-primary">Download Raw JSON data</button></a>

{% endblock %}
