{% extends "base.html" %}

{% block title %}Ref {{ git_commit.get_refs_str() }}{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url }}/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ref {{ git_commit.get_refs_str() }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>Ref {{ git_commit.get_refs_str() }}</h2>

<h3>Comparison to default ref, {{  default_ref_str }}</h3>

<table class="table">
    <tr>
        <th>Type</th>
        <th>Record</th>
        <th>Action</th>
        <th>&nbsp;</th>
    </tr>
    {% for data_difference_between_refs in data_differences_between_refs %}
        <tr>
            <td>
                {{ data_difference_between_refs['record_id'] }}
            </td>
            <td>
                {{ data_difference_between_refs['type_id'] }}
            </td>
            <td>
                {{ data_difference_between_refs['action'] }}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
